# Objectives
* YWBAT 
    * create a list
    * iterate through indices and items in a list
    * iterate through multiple lists
    * create dictionaries and lists using inline notation

In [1]:
import numpy as np

In [3]:
np.random.seed(42) # random seeds, what they do is, uh.....
"""
setting np.random.seed(k)
They will not just pick a random number, but create a list of numbers 
that is k-length and pick a numberr from that list
"""

'\nsetting np.random.seed(k)\nThey will not just pick a random number, but create a list of numbers \nthat is k-length and pick a numberr from that list\n'

In [52]:
lst1 = np.random.randint(0, 10, 20)
lst2 = np.random.randint(0, 100, 20)

In [53]:
# convert x and y to lists
lst1 = list(lst1)
lst2 = list(lst2)

In [45]:
print(lst1)

[6, 9, 2, 6, 9, 8, 3, 0, 1, 0, 4, 4, 6, 8, 8, 2, 2, 2, 3, 7]

# Ways to square and reassign numbers in list

# The First Way - For loop over indices

In [33]:
# loop over indices
# do whatever calculations you need
# and reassign based on indicies

for i in range(len(lst1)): # loops over indices of x-list
    # square the number then assign it into the index
    n = lst1[i]**2 # squares the ith number in x and assign it to n
    
    # assign n to the ith index of x
    lst1[i] = n

In [38]:
# a faster way to do this
for i in range(len(lst1)):
    lst1[i] = lst1[i]**2

# Use enumerate() - for loop over indices and values

In [50]:
# there's a better way to get indicies and values
for i, value in enumerate(lst1): # enumerate will grab the indices and values
    lst1[i] = value**2

# Use inline - for loop over list values

In [54]:
lst1_squared = [value**2 for value in lst1] # inline (list comprehension)
lst1_squared

[64, 9, 0, 9, 0, 16, 9, 49, 49, 36, 4, 0, 0, 4, 25, 36, 25, 25, 25, 4]

In [55]:
string = 'flatiron school with rafael, allison, andrew and rama'.split(' ')
string

['flatiron', 'school', 'with', 'rafael,', 'allison,', 'andrew', 'and', 'rama']

In [56]:
# add ! at the end of each word
string = [word + '!' for word in string] # adding ! to the end of each word inline
string

['flatiron!',
 'school!',
 'with!',
 'rafael,!',
 'allison,!',
 'andrew!',
 'and!',
 'rama!']

In [57]:
# add ? at the beginning of each word using inline
string = ['?' + word for word in string]
string

['?flatiron!',
 '?school!',
 '?with!',
 '?rafael,!',
 '?allison,!',
 '?andrew!',
 '?and!',
 '?rama!']

# Take the sum of lst1 and lst2 pair-wise

# Method 1 - Loop over indices

In [60]:
# create lst3 where lst3 equals the pairwise sum of lst1 and lst2 elements

(20, 20)

In [63]:
lst3 = []
for i in range(len(lst1)):
    # assign the sum to n
    n = lst1[i] + lst2[i]
    # add it to lst3
    lst3.append(n)
    # lst3[i] = n
lst3

[61,
 10,
 26,
 29,
 97,
 24,
 32,
 103,
 34,
 69,
 98,
 68,
 60,
 49,
 23,
 9,
 39,
 68,
 53,
 18]

# Method 2 - iterate over lst1 and lst2 using zip

In [64]:
# using zip to zip two lists and iterate over them simulateneously

In [79]:
lst3 = []
for x, y in zip(lst1, lst2):
#     # assign the sum to n
#     n = sum([x, y])
    
#     # append it to my lst3
#     lst3.append(n)
    lst3.append(x + y)
lst3

[61,
 10,
 26,
 29,
 97,
 24,
 32,
 103,
 34,
 69,
 98,
 68,
 60,
 49,
 23,
 9,
 39,
 68,
 53,
 18]

In [82]:
# Rama - what happens if indices are unequal? 
# Great question, said Rafael.  Looks like it stops at the lesser
arr3 = [1, 2, 3]
arr5 = [10, 11, 12, 13, 14, 15]
for i, j in zip(arr3, arr5):
    print(i, j)

1 10
2 11
3 12

In [84]:
lst4 = []
for x, y, z in zip(lst1, lst2, lst3):
    lst4.append(sum([x, y, z]))

In [85]:
for x, y, z, w in zip(lst1, lst2, lst3, lst4):
    print(x, y, z, w)

8 53 61 122
3 7 10 20
0 26 26 52
3 26 29 58
0 97 97 194
4 20 24 48
3 29 32 64
7 96 103 206
7 27 34 68
6 63 69 138
2 96 98 196
0 68 68 136
0 60 60 120
2 47 49 98
5 18 23 46
6 3 9 18
5 34 39 78
5 63 68 136
5 48 53 106
2 16 18 36

In [86]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([10, 11, 12])
for x, y in zip(arr1, arr2):
    print(x, y)

1 10
2 11
3 12

In [88]:
str1 = 'this is a string'
str2 = 'string is a this'
for l1, l2, x in zip(str1, str2, lst3):
    print(l1, l2, x)

t s 61
h t 10
i r 26
s i 29
  n 97
i g 24
s   32
  i 103
a s 34
    69
s a 98
t   68
r t 60
i h 49
n i 23
g s 9

# Creating lst3 inline using zip

In [91]:
lst3 = [x + y for x, y in zip(lst1, lst2)] # inline zipping (zip-lining)
print(lst3)

[61, 10, 26, 29, 97, 24, 32, 103, 34, 69, 98, 68, 60, 49, 23, 9, 39, 68, 53, 18]

# Creating dictionaries

In [93]:
# 3 of n ways of instantiating a dictionary
d = dict() # call dict() method in python
print(type(d))
d = {} # use curly braces in python
print(type(d))
d = {"a":1} # use and assign with curly braces
print(type(d))

<class 'dict'>
<class 'dict'>
<class 'dict'>

In [98]:
alphabet = list('abcdefg')
print(alphabet)
numbers = [2, 4, 6, 8, 10, 12, 14]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [99]:
# Walkthrough using for loop to make dictionary
d = dict() # dict() == {}
# d = {}

for letter, number in zip(alphabet, numbers):
    d[letter]=number
d

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10, 'f': 12, 'g': 14}

In [100]:
d = dict()

In [101]:
d

{}

# creating a dictionary using zip, like the cool kids

In [105]:
d = dict(zip(alphabet, numbers)) # inline calling dict() on zipped lists
d

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10, 'f': 12, 'g': 14}

In [116]:
str2 = 'what the heck is happening'

In [117]:
for letter in str2:
    print(letter)

w
h
a
t

t
h
e

h
e
c
k

i
s

h
a
p
p
e
n
i
n
g

In [118]:
str2_split = str2.split(" ")
str2_split

['what', 'the', 'heck', 'is', 'happening']

In [119]:
for word in str2_split:
    print(word)

what
the
heck
is
happening